package icons

templ Building(className string) {
	<svg class={ className } fill="none" stroke="currentColor" viewBox="0 0 24 24">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2M19 21H5m0 0H3m4-14h2m-2 4h2m-2 4h2m6-8h2m-2 4h2m-2 4h2M9 21v-4a1 1 0 011-1h4a1 1 0 011 1v4"></path>
	</svg>
}

templ Link(className string) {
	<svg class={ className } fill="none" stroke="currentColor" viewBox="0 0 24 24">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 010 5.656l-3 3a4 4 0 01-5.656-5.656l1.5-1.5m5.656-5.656l1.5-1.5a4 4 0 015.656 5.656l-3 3a4 4 0 01-5.656 0"></path>
	</svg>
}
